<div class="contentComponent" layout="row">

    <div flex="20">
        <div ng-repeat="lnk in $ctrl.links" ng-class="lnk.class">
            <a href="{{lnk.href}}">{{lnk.label}}</a>
        </div>
    </div>

    <md-content flex ng-view class="contentComponentView"></md-content>

    <!-- lister les repositories disponibles -->
    <!-- <availables-repos username="remipassmoilesel"></availables-repos> -->

    <!-- lister les publications disponibles -->
    <!-- <availables-publications repository="remipassmoilesel/markdown-github"></availables-publications> -->



</div>
